.tree-node-invisible {
    display: none;
}

.sidebar-tree ul,
.sidebar-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.sidebar-tree ul {
    padding-left: 0.25rem;
}
