<mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #drawer [mode]="'side'" [opened]="true">
        <div class="d-flex flex-column h-100">
            <app-sidebar-tree [data]="sidebarNodes"></app-sidebar-tree>
            <button class="mt-auto" mat-raised-button (click)="drawer.toggle()">Toggle</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        Tutaj router outlet
        <button mat-raised-button (click)="drawer.toggle()">Toggle</button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
