.example-container {
    height: 100%;
    width: 100%;
}

.toggle-sidebar-button.mat-button-toggle-group-appearance-standard,
.toggle-sidebar-button.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
    top: calc(50% - 64px);
    left: 0;
    border-radius: 0 6px 6px 0;
    height: 64px;
    width: 26px;
    position: absolute;
    border-left-width: 0;
    box-shadow: 0 2px 4px #525252;
}

:host ::ng-deep .toggle-sidebar-button div.mat-button-toggle-label-content {
    padding: 0;
}

.sidebar-drawer {
    width: 130px;
}
